<ion-header class="header" >
  <ion-navbar>
    <ion-title>
    <span >Moviecat</span>
    <div class="search" (keyup)="keyFun($event,search)">
      <input type="text" placeholder="Search..." [(ngModel)]="search">
      <ion-icon name="ios-search" class="searchBtn" (click)="searchFun(search)"></ion-icon>
    </div>
      <ion-icon #loginbox class="login"  name="ios-contact" (click)="loginFun()" ></ion-icon>
  </ion-title>
  </ion-navbar>
</ion-header>
<!--<components-header></components-header>-->
<ion-content padding class="content" (ionScroll)="check()">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="down refresh"
            refreshingSpinner="circles"
            refreshingText="refresh...">
      </ion-refresher-content>
    </ion-refresher>

  <ion-list  *ngFor="let item of listData" (click)="goDetailedInfo(item.id)" >
    <ion-item>
      <!--评分-->
      <span class="badge badge-assertive">{{item.rating.average}}</span>
      <!--设定图片-->
      <ion-avatar item-left>
        <!--这个item前面加上一个?,是为了防止对象为空的情况报错-->
        <img [src]="item?.images.medium" onerror="onerror=null;ngSrc='item?.images.large'" alt="{{item.title}}">
      </ion-avatar>
      <!--设定描述-->
      <h2>{{item?.title}}</h2>
      <div>类型：
        <span *ngFor="let gen of item.genres let i=index">
          {{gen}} <span *ngIf="i<item.genres.length-1">、</span>
        </span>
      </div>
      <div>导演：
        <span *ngFor="let dir of item.directors let i=index">
          {{dir.name}}<span *ngIf="i<item.directors.length-1">、</span>
        </span>
      </div>
      <div>主演：
        <span *ngFor="let casts of item.casts let i=index">
          {{casts.name}}<span *ngIf="i<item.casts.length-1">、</span>
        </span>
      </div>
      <div>上映年份：{{item.year}}</div>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="searchFlag" >
    <p>没找到你想要的......</p>
    <p>下拉刷新获取热门电影......</p>
  </ion-item>
    <!-- <ion-icon #topBox ios="logo-apple" md="md-arrow-round-up" (click)="scrollTo($event)">top</ion-icon> -->
  <ion-row>
    <ion-col class="nodata" text-center *ngIf="!hasmore">
      我是有底线的......
    </ion-col>
  </ion-row>

  <!--上拉条触发事件-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

  <!--回顶部按钮class="topbtnbox"-->
<ion-icon *ngIf="topflag" name="md-arrow-round-up" class="top"   (click)="scrollTo($event)"></ion-icon>
